.vscode

# Idris
Idris/build
Idris/**/*.ibc
Idris/**/build

# JFLAP
JFLAP/Tutorial_JFLAP_Files.zip
JFLAP/Tutorial_JFLAP_Files
JFLAP/*.pdf
JFLAP/*.jar

# NuSMV

# Prolog
Prolog/**/*_output.txt

# SemanticWeb
SemanticWeb/**/.idea
SemanticWeb/**/target
SemanticWeb/**/tdb

# SPIN

# TLAplus
# TLAplus/**/*.cfg
TLAplus/**/*.old
TLAplus/**/*.out
TLAplus/**/*.tex
TLAplus/**/states
TLAplus/**/*.toolbox
TLAplus/vscode-tlaplus/out.csv