[submodule "pl/Lisp"]
	path = pl/Lisp
	url = https://github.com/jargonzhou/learning-lisp
[submodule "pl/Scala"]
	path = pl/Scala
	url = https://github.com/jargonzhou/learning-scala
[submodule "pl/Python"]
	path = pl/Python
	url = https://github.com/jargonzhou/learning-python
[submodule "pl/Golang"]
	path = pl/Golang
	url = https://github.com/jargonzhou/learning-golang
[submodule "pl/Compiler/JVM"]
	path = pl/Compiler/JVM
	url = https://github.com/jargonzhou/hack-jvm
[submodule "ml"]
	path = ml
	url = https://github.com/jargonzhou/hack-ml
[submodule "pl/Rust"]
	path = pl/Rust
	url = https://github.com/jargonzhou/learning-rust
