.vscode

# JFLAP
JFLAP/Tutorial_JFLAP_Files.zip
JFLAP/Tutorial_JFLAP_Files
JFLAP/*.pdf
JFLAP/*.jar

# NuSMV

# Prolog
Prolog/**/*_output.txt

# SemanticWeb
SemanticWeb/**/.idea
SemanticWeb/**/target
SemanticWeb/**/tdb

# SPIN

# TLAplus
# TLAplus/**/*.cfg
TLAplus/**/*.old
TLAplus/**/*.out
TLAplus/**/*.tex
TLAplus/**/states
TLAplus/**/*.toolbox
TLAplus/vscode-tlaplus/out.csv

# Types
## Idris
Types/Idris/build
Types/Idris/**/*.ibc
Types/Idris/**/build
## OCaml
Types/OCaml/**/_build
Types/OCaml/**/*.cmi
Types/OCaml/**/*.cmo
Types/OCaml/oftvb/stats
Types/OCaml/oftvb/iotest
Types/OCaml/oftvb/files
Types/OCaml/oftvb/files.txt
Types/OCaml/**/*.out

# Compiler
Compiler/javacc/javacc-examples/src/main/resources/apache.log
Compiler/javacc/javacc-examples/records.scm
