.vscode

# JFLAP
pl/JFLAP/Tutorial_JFLAP_Files.zip
pl/JFLAP/Tutorial_JFLAP_Files
pl/JFLAP/*.pdf
pl/JFLAP/*.jar

# MachineLearning
ml/data/

# NuSMV

# Prolog
Prolog/**/*_output.txt

# SemanticWeb
model/SemanticWeb/**/.idea
model/SemanticWeb/**/target
model/SemanticWeb/**/tdb

# SPIN

# TLAplus
# model/TLAplus/**/*.cfg
model/TLAplus/**/*.old
model/TLAplus/**/*.out
model/TLAplus/**/*.tex
model/TLAplus/**/states
model/TLAplus/**/*.toolbox
model/TLAplus/vscode-model/TLAplus/out.csv


# Types
## Idris
pl/Types/Idris/build
pl/Types/Idris/**/*.ibc
pl/Types/Idris/**/build
## OCaml
pl/Types/OCaml/**/_build
pl/Types/OCaml/**/*.cmi
pl/Types/OCaml/**/*.cmo
pl/Types/OCaml/oftvb/stats
pl/Types/OCaml/oftvb/iotest
pl/Types/OCaml/oftvb/files
pl/Types/OCaml/oftvb/files.txt
pl/Types/OCaml/**/*.out

# Compiler
pl/Compiler/javacc/javacc-examples/src/main/resources/apache.log
pl/Compiler/javacc/javacc-examples/records.scm
